
metastore_db/log/log.ctrl

*.log
*.dat
^metastore

metastore_db/log/README_DO_NOT_TOUCH_FILES.txt

metastore_db/README_DO_NOT_TOUCH_FILES.txt

metastore_db/seg0/README_DO_NOT_TOUCH_FILES.txt

metastore_db/service.properties

metastore_db/log/logmirror.ctrl

metastore_db/dbex.lck
